.card-body {
    padding-bottom: 0px;
}

.searchBar {
    background: #e63a40;
}

.table {
    /* border-collapse: collapse; */
    margin-top: 50px;
    margin-bottom: 50px;
    background: #343a40 !important;
    color: white !important;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* border: 1px double red */
    border: 1px;
}

/* .table td {
    border-color: blue;
    border-style: solid;
    border-width: 1px;
} */

.about {
    background-color: #95b4c9;
    padding: 20px;
    margin: 20px;
    font-size: x-large;
}

.about h1 {
    text-align: center;
    text-decoration: underline;
}

.dqbMYY {
    left: 150px;
    display: none;
}